 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 .content{
     width: 831px;
     margin-left: 1px;
 }
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    background-color:transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #303F9F;
    border-radius: 20px;
  }