<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Hello World!</title>
</head>

<body>
    <h1>Ứng dụng từ điển Anh - Việt</h1>
    <input type="text" placeholder="Nhập từ cần tìm">
    <button id="clickButton">Tìm kiếm</button>
</body>
<script src="../assets/main.js"></script>
<script src="../assets/index.js"></script>
<script src="../assets/load.js" type="module"></script>

</html>